{% extends 'base.html' %}

{% block pages %}

    <section class="container mxw-850 row fw-w card">
        <div class="fs-3 bold ta-c container"> {{ user }} Notes </div>
        {% for note in notes %}
        <div class="card container mxw-300 row pr-0 o-hide">
            <div class="group container">
                <h2> {{ note.title }} </h2>
                <hr class="f-col">
                <div class="row jc-sb container">
                    <a href="{% url 'detailView' note.id %}"  class="plr-3 btn primary"> View </a>
                    <span>{{ note.date_posted | date:'M d o' }}</span>
                </div>
            </div>
            <div class="col h-100px w-50px primary jc-se ml-1 epic_f-inherit">
                <a href="{% url 'updateView' note.id %}" class="ep-pen"></a>
                <a href="{% url 'deleteView' note.id %}" class="ep-trash"></a>
            </div>
        </div>
        {% empty %}
        <div class="container card primary observe_anim anim_down mxw-300 h-400px col fs-1 ta-c bold">
            You have written no notes, yet.
        </div>
        {% endfor %}
        {% include 'core/footer.html' %}
    </section>

{% endblock pages%} 