<article class="row fw-w jc-se container">
    <div class="row jc-se fw-w bg-col container mlr-0 card f-white epic_f-inherit fs-4 pbt-3">
        <a href="https://www.youtube.com/@tomilola_ng" class="ep-youtube"> </a>
        <a href="https://www.linkedin.com/in/oluwafemi-tomilola-3139b9254/" class="ep-linkedin"> </a>
        <a href="https://www.instagram.com/@tomilola_ng" class="ep-instagram"> </a>
        <a href="https://www.twitter.com/tomilola_ng" class="ep-twitter"> </a>
        <div class="row fw-w ta-c gap primary-alt bdrs container pb-3">
            This UI was built with Epic Styles CSS framework, check out the site at <hr class="f-white">  <a href="https://epic-styles.github.io" class="btn success hover_success-alt">epic-styles</a>
        </div>
        <div class="row fs-6">  Copyright Oluwafemi Tomilola </div>
    </div>
    <div class="row fw-w fs-1">
        
    </div>
</article>